.icon-dual-ring {

}

.icon-dual-ring::after {
    animation: icon-dual-ring 1.2s linear infinite;
}

@keyframes icon-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}