.empty-body {
    width: 100%;
    text-align: center;
    position: absolute;
    min-height: 600px;
}
.empty-text {
    color: rgb(128, 128, 128);
    font-weight: bold;
    font-size: 12px;
    padding-right: 2%;
}
.empty-svg {
    
}
.empty-div-svg {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 5px;
}