.p-button {
    height: 12px;
    margin-bottom: 10px;   
}

.p-button .p-highlight span {
    color: white;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle {
    color: #212529;
    background-color: #FFA87D;
    border-color: #FFA87D;
}

.btn-outline-warning {
    color: #FFA87D;
    border-color: #FFA87D;
}

.btn-outline-warning:hover {
    color: #212529;
    background-color: #FFA87D;
    border-color: #FFA87D;
}