.countView {
    background-color: red;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    border-radius: 12px;
}

#deviceDetail tr th:nth-child(2), #deviceDetail tr td:nth-child(2) {
    color : #FF0000;
}

#deviceDetail tr th:nth-child(3), #deviceDetail tr td:nth-child(3) {
    color : #FFCA00;
}

#deviceDetail tr th:nth-child(4), #deviceDetail tr td:nth-child(4) {
    color : #53A1EA;
}

#deviceDetail tr td {
    text-align : right;
}

#window-id {
    position: relative;
    float: right;
    top: 10px;
    right: 10px;
    text-align: end;
    width: 200px;
}